  
.s{
    border: none !important;
    background: none !important;
    outline: none !important;
    border: 5px solid rgb(255, 145, 0) !important;
    padding: 10px !important;
    background-color: rgba(255, 166, 0, 0.43) !important;
    transition: 0.5s !important;
    
}
.s:hover{
    padding: 20px !important;
 
    font-weight:300px;
    background-color: rgb(255, 166, 0) !important ;
}


.w{
    max-height: 500px;
    overflow-y: auto;
    padding-right: 30px;
   

}
.h{
    outline: none !important;
    border: none  !important;
    background-color: var(--cart-s)  !important;
    padding: 20px !important;
    color: white;

    border-bottom: 5px solid var(--cart-s2) !important;
    transition: 0.5s;
}
